# --- Python Bytecode & Cache ---
__pycache__/
*.py[cod]
*$py.class

# --- Ambienti Virtuali (Virtual Envs) ---
# È importante ignorare queste cartelle perché contengono librerie specifiche
venv/
env/
.venv/
.env

# --- File di Sistema Operativo ---
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# --- IDE e Editor (Configurazioni locali) ---
.vscode/
.idea/
*.swp
*.swo

# --- PyInstaller (Se in futuro creerai un .exe) ---
*.spec
dist/
build/

# --- Log e Errori ---
*.log